<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
	<key>items</key>
	<array>
	  <dict>
		<key>cell</key>
		<string>PSSwitchCell</string>
		<key>default</key>
		<true/>
		<key>defaults</key>
		<string>cx.ath.the-kenny.ThingsPlugin</string>
		<key>key</key>
		<string>Enabled</string>
		<key>label</key>
		<string>Enabled</string>
	  </dict>
	  <dict>
		<key>cell</key>
		<string>PSSwitchCell</string>
		<key>default</key>
		<false/>
		<key>defaults</key>
		<string>cx.ath.the-kenny.ThingsPlugin</string>
		<key>key</key>
		<string>showProjects</string>
		<key>label</key>
		<string>Show Projects?</string>
	  </dict>
	  <dict>
		<key>cell</key>
		<string>PSEditTextCell</string>
		<key>default</key>
		<integer>3</integer>
		<key>defaults</key>
		<string>cx.ath.the-kenny.ThingsPlugin</string>
		<key>key</key>
		<string>Limit</string>
		<key>label</key>
		<string>Limit</string>
	  </dict>
	  
	  <dict>
		<key>cell</key>
		<string>PSLinkListCell</string>
		<key>default</key>
		<string>today</string>
		<key>defaults</key>
		<string>cx.ath.the-kenny.ThingsPlugin</string>
		<key>detail</key>
		<string>PSListItemsController</string>
		<key>key</key>
		<string>List</string>
		<key>label</key>
		<string>List</string>
		<key>validTitles</key>
		<array>
		  <string>Today</string>
		  <string>Next</string>
		  <string>Someday</string>
		  <string>Inbox</string>
		  <string>Everything</string>
		</array>
		<key>validValues</key>
		<array>
		  <string>today</string>
		  <string>next</string>
		  <string>someday</string>
		  <string>inbox</string>
		  <string>all</string>
		</array>
	  </dict>
	  <dict>
		<key>cell</key>
		<string>PSLinkListCell</string>
		<key>default</key>
		<string>desc</string>
		<key>defaults</key>
		<string>cx.ath.the-kenny.ThingsPlugin</string>
		<key>detail</key>
		<string>PSListItemsController</string>
		<key>key</key>
		<string>Order</string>
		<key>label</key>
		<string>Ordering</string>
		<key>validTitles</key>
		<array>
		  <string>New ToDos first</string>
		  <string>Old ToDos first</string>
		</array>
		<key>validValues</key>
		<array>
		  <string>desc</string>
		  <string>asc</string>
		</array>
	  </dict>
	  <dict>
		<key>cell</key>
		<string>PSEditTextCell</string>
		<key>defaults</key>
		<string>cx.ath.the-kenny.ThingsPlugin</string>
		<key>key</key>
		<string>databasePath</string>
		<key>label</key>
		<string>Path</string>
	  </dict>
	</array>
  </dict>
</plist>
